<%= form_with model: [:dashboard, movie], class: 'space-y-6' do |f| %>
  <% if movie.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.label :title, 'Título', class: 'block text-gray-700 mb-2' %>
    <%= f.text_field :title, class: 'w-full border rounded px-3 py-2' %>
  </div>
  
  <div>
    <%= f.label :synopsis, 'Sinopse', class: 'block text-gray-700 mb-2' %>
    <%= f.text_area :synopsis, rows: 5, class: 'w-full border rounded px-3 py-2' %>
  </div>
  
  <div class="grid grid-cols-3 gap-4">
    <div>
      <%= f.label :release_year, 'Ano', class: 'block text-gray-700 mb-2' %>
      <%= f.number_field :release_year, class: 'w-full border rounded px-3 py-2' %>
    </div>
    
    <div>
      <%= f.label :duration, 'Duração (min)', class: 'block text-gray-700 mb-2' %>
      <%= f.number_field :duration, class: 'w-full border rounded px-3 py-2' %>
    </div>
    
    <div>
      <%= f.label :director, 'Diretor', class: 'block text-gray-700 mb-2' %>
      <%= f.text_field :director, class: 'w-full border rounded px-3 py-2' %>
    </div>
  </div>

  <div>
  <%= f.label :category_ids, 'Categorias', class: 'block text-gray-700 mb-2' %>
  <div class="flex flex-wrap gap-2">
    <% Category.all.each do |category| %>
      <label class="flex items-center">
        <%= check_box_tag 'movie[category_ids][]', category.id, movie.categories.include?(category),
            id: "category_#{category.id}", class: 'hidden peer' %>
        <span class="cursor-pointer px-4 py-2 rounded-full border border-gray-300 text-gray-700 
                      peer-checked:bg-blue-600 peer-checked:text-white hover:bg-gray-100 transition">
          <%= category.name %>
        </span>
      </label>
    <% end %>
  </div>
  <div class="mb-4">
  <%= f.label :tag_list, "Tags (separadas por vírgula)" %>
  <%= f.text_field :tag_list, class: "w-full border rounded px-3 py-2" %>
</div>
</div>

<div>
  <%= f.label :cover_image, "Capa do Filme", class: "block text-gray-700 mb-2" %>
  <%= f.file_field :cover_image, class: "w-full border rounded px-3 py-2" %>

  <% if f.object.cover_image.attached? %>
    <p class="mt-2">Imagem atual:</p>
    <%= image_tag f.object.cover_image.variant(resize_to_limit: [300, 400]), class: "mt-2 rounded" %>
  <% end %>
</div>


  
  <div class="flex gap-4">
    <%= f.submit 'Salvar', class: 'bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700' %>
    <%= link_to 'Cancelar', dashboard_movies_path, class: 'bg-gray-300 text-gray-700 px-6 py-2 rounded hover:bg-gray-400' %>
  </div>
<% end %>
