<div class="container mx-auto px-6 py-10">
  <!-- Cabeçalho -->
  <div class="flex flex-col sm:flex-row justify-between items-center mb-10 gap-4">
    <h1 class="text-4xl font-bold text-gray-800"><%= t('app.my_movies') %></h1>
    <%= link_to t('app.new_movie'), new_dashboard_movie_path,
                class: "bg-blue-600 hover:bg-blue-700 text-white px-6 py-2 rounded-lg shadow transition duration-200" %>
  </div>

  <!-- Filtros -->
  <div class="bg-white shadow-md rounded-lg p-6 mb-10">
    <%= form_with url: dashboard_movies_path, method: :get, local: true, class: "flex flex-col sm:flex-row flex-wrap gap-4 justify-center items-center" do %>

      <!-- Categoria -->
      <%= select_tag :category, options_from_collection_for_select(Category.all, :name, :name, params[:category]),
          include_blank: t('app.category'),
          class: "border border-gray-300 rounded-lg px-4 py-2 w-full sm:w-auto focus:ring-1 focus:ring-blue-400 focus:border-blue-400" %>

      <!-- Ano -->
      <%= text_field_tag :release_year, params[:release_year],
          placeholder: t('app.year'),
          class: "border border-gray-300 rounded-lg px-4 py-2 w-full sm:w-auto focus:ring-1 focus:ring-blue-400 focus:border-blue-400" %>

      <!-- Diretor -->
      <%= text_field_tag :director, params[:director],
          placeholder: t('app.director'),
          class: "border border-gray-300 rounded-lg px-4 py-2 w-full sm:w-auto focus:ring-1 focus:ring-blue-400 focus:border-blue-400" %>

      <!-- Pesquisa -->
      <%= text_field_tag :search, params[:search],
          placeholder: t('app.search_placeholder'),
          class: "border border-gray-300 rounded-lg px-4 py-2 w-full sm:w-1/3 focus:ring-1 focus:ring-blue-400 focus:border-blue-400" %>

      <!-- Botão Filtrar -->
      <%= submit_tag t('app.filter'),
          class: "bg-blue-600 hover:bg-blue-700 text-white px-6 py-2 rounded-lg shadow transition duration-200 w-full sm:w-auto" %>
    <% end %>
  </div>
</div>
